<% if @book_new.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@book_new.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
      <% @book_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
